
<div class="  items-center flex justify-center flex-col flex-wrap md:flex-row  mx-auto p-4 md:mb-96">
        
    <div class="rounded md:w-72 w-52  text-2xl bgColor boxShadow text-center p-4 m-4 cursor-pointer" routerLink="/login/dashboard/categories">
        <p class="mt-2 text-6xl"><i class="fas fa-clipboard-list"></i></p>
        <p class="text-4xl p-2 font-bold">Category</p>
        <p class="text-xs md:text-base">Manager your category here</p>
    </div>

    <div class="rounded md:w-72 w-52  text-2xl bgColor boxShadow text-center p-4 m-4 cursor-pointer" routerLink="/login/dashboard/blogPost">
        <p class="mt-2 text-6xl"><i class="fas fa-file-image"></i></p>
        <p class="text-4xl p-2 font-bold">Posts</p>
        <p class="text-xs md:text-base">Manager your post here </p>
    </div>

    
        
    </div>
