<div class="footBg p-4  text-center w-full text-sm md:text-base ">
    <div class=" p-2 text-sm md:text-lg font-bold activelogo cursor-pointer flex gap-4 justify-center">
    <a routerLink="" class="bgHeader p-1 px-3 rounded-3xl ">SLEEKIE BLOG</a>
    <a routerLink="/login" class="bgHeader p-1 px-3 rounded-3xl ">developers</a>
    </div>
    
    <div class=" flex gap-4 justify-center mt-2" >
        <p>Terms & Condition</p>
        <p>About</p>
        <p>Contact</p>
    </div>

    <p>Copyright &#169; <span>{{date | date:'mediumDate'}}</span> Sleekies</p>
</div>