<div>
    <div class=" mt-6">
        <p class="textSize mb-2 font-bold ">Lastest Post</p>
        <p class="text-sm md:text-base  mb-2">What would you like to say </p>
    </div>
    <form class="flex flex-col" >

        <label class="text-sm md:text-base" >Name</label>
        <input type="text" class="w-full mb-2 border outline-none text-sm md:text-base p-2"  name="name">
   
        <label class="text-sm md:text-base mb-2 " >Comment</label>
        <textarea name="comment"  cols="30" rows="10" class="border outline-none text-sm md:text-base"></textarea>

        <button class="btnSub text-white px-4 text-xs md:text-base mt-4 p-4 w-fit">drop your take  </button>

    </form>
</div>