<div class=" bgAbout p-16 m-16">
    <div class="">
        <p class="text-white uppercase text-2xl font-bold p-4 text-center">ABOUT US</p>
        <div class="bodyBg">
            <p class="text-xs md:text-base p-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores cumque repellat illo soluta magni voluptatum corrupti quaerat, sunt magnam vitae eligendi aspernatur? Ad, illum asperiores tempora suscipit tempore dolor illo sapiente alias mollitia! Eos quod dolor ea vero mollitia magni provident eligendi cum tenetur autem, nihil error reiciendis maxime aspernatur distinctio repellat officia consequatur officiis consequuntur, harum modi dicta! Doloribus cumque et excepturi quibusdam ab alias itaque ut incidunt inventore sunt fugit, sequi magni assumenda, dignissimos adipisci, vel dolore quae autem voluptates explicabo laborum tenetur. Eum, a consequuntur. Consequatur aliquid ipsa rem, voluptatum nobis ratione asperiores nihil voluptatibus adipisci illum?</p>
        </div>
    </div>
</div>