
         
        <div class=" flex justify-center paddingRound p-4">
            <img src="{{ postDetails.image}}" alt="" class=" w-8/12 Maxheight h-64 md:h-full">
        </div >


      
        <div class=" p-4 w-4/5 mx-auto flex-col md:flex md:flex-row gap-16">            
            <div class="md:w-3/5 w-full" >

                <div class="flex gap-4 text-sm md:text-base " >
                    <p class="text-red-600">{{postDetails.categoryPost.category}}</p>
                    <p class="text-green-600"  *ngIf="postDetails.isFeatured">Featured</p>
                    <p class="text-blue-600">Views - {{postDetails.views}}</p>
                   
                </div>                
        <P class="text-xs md:text-xl font-bold uppercase mt-2" > {{postDetails.title}} </P>
        <p class="mt-2 w-full text-justify md:text-base text-xs mb-4" [innerHTML]="postDetails.content"></p>
        <p class="text-blue-600 font-bold mt-2 text-xs md:text-base "> Last updated {{postDetails.createdAt.toMillis() |date}}</p>


        <app-comment></app-comment>

        <div class=" mt-6 p-4">
        <p class="textSize mb-2 font-bold ">Comment</p>
        
            <div class="bg-gray-400/20 w-full rounded p-4 md:text-base text-xs mb-4">
                <p class=" font-bold">Name</p>
                <p class="text-red-500">date</p>
                <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, molestias blanditiis corporis, aspernatur perferendis cupiditate quia vero quae harum enim ad repellat natus aliquam obcaecati voluptas sit, veritatis corrupti totam.</p>
                <div class="flex gap-4 mt-2">
                    <p class="font-bold ">REPLY</p>
                    <p class="font-bold ">VIEW COMMENT</p>
                </div>
            </div>
            <div class="bg-gray-400/20 w-full rounded p-4 md:text-base text-xs mb-4">
                <p class=" font-bold">Name</p>
                <p class="text-red-500">date</p>
                <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, molestias blanditiis corporis, aspernatur perferendis cupiditate quia vero quae harum enim ad repellat natus aliquam obcaecati voluptas sit, veritatis corrupti totam.</p>
                <div class="flex gap-4 mt-2">
                    <p class="font-bold ">REPLY</p>
                    <p class="font-bold ">VIEW COMMENT</p>
                </div>
            </div>

    </div>
    </div>

    <div>
        <div class="postCardWrapper mt-4 ">

            <div class="postCardWrapper mt-4"  *ngFor="let postCard of similarPost">
                <div class="boxShadow md:w-96 w-72 p-2 cursor-pointer px-2" [routerLink]='["/posts", postCard.id]'>
                    <div>
                        <img src="{{postCard.data.image}}" alt="" class="w-full md:w-96 h-20 md:h-96">
                    </div >
                    <div class="bg-white p-4 h-44 md:h-fit">
                    <div class="flex gap-4 text-sm md:text-base " >
                        <p class="text-red-600">{{postCard.data.categoryPost.category}}</p>
                        <p class="text-green-600" *ngIf="postCard.data.isFeatured">Featured</p>
                        <p class="text-blue-600">Views - {{postCard.data.views}}</p>
                    </div>
                    <P class="text-xs md:text-xl font-bold uppercase mt-2 overflow-hidden whitespace-nowrap text-ellipsis">{{postCard.data.title}} </P>
                    <p class="mt-2 w-full overflow-hidden md:h-24 h-12 text-justify md:text-base text-xs mb-4">{{postCard.data.content}}</p>
                    <p class="text-blue-600 font-bold mt-2 text-xs md:text-base "> Last updated {{postCard.data.createdAt.toMillis() |date}}</p>
                </div>
            </div>
            </div>
           
        </div>
       
       
    </div>

</div>