<div class="fixed top-6 rounded-md  right-6">
    <p class="float-right p-2 md:p-4 text-white text-xs md:text-base bg-green-600" *ngIf="newNotifi == 'BoomYa!! Success👍'">{{newNotifi}} </p>
    <p class="float-right p-2 md:p-4 text-white text-xs md:text-base bg-red-600/50" *ngIf="newNotifi == 'hu hu there was an error 😔'">{{newNotifi}} </p>
    <p class="float-right p-2 md:p-4 text-white text-xs md:text-base bg-green-600/50" *ngIf="newNotifi == 'Thanks for Subscribing 👍'">{{newNotifi}} </p>
    <p class="float-right p-2 md:p-4 text-white text-xs md:text-base bg-red-600/50" *ngIf="newNotifi == 'Already Registered with this email'">{{newNotifi}} </p>

</div>